In [77]:
import numpy as np
import pandas as pd

In [78]:
bgr=pd.read_csv(r"C:\Users\Dell\OneDrive\Documents\data science\datasets\Bengaluru_House_Data.csv")

In [79]:
bgr.head(50)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2.0,1.0,38.00
6,Super built-up Area,18-May,Old Airport Road,4 BHK,Jaades,2732,4.0,NaN,204.00
7,Super built-up Area,Ready To Move,Rajaji Nagar,4 BHK,Brway G,3300,4.0,NaN,600.00
8,Super built-up Area,Ready To Move,Marathahalli,3 BHK,NaN,1310,3.0,1.0,63.25
9,Plot Area,Ready To Move,Gandhi Bazar,6 Bedroom,NaN,1020,6.0,NaN,370.00
10,Super built-up Area,18-Feb,Whitefield,3 BHK,NaN,1800,2.0,2.0,70.00
11,Plot Area,Ready To Move,Whitefield,4 Bedroom,Prrry M,2785,5.0,3.0,295.00
12,Super built-up Area,Ready To Move,7th Phase JP Nagar,2 BHK,Shncyes,1000,2.0,1.0,38.00
13,Built-up Area,Ready To Move,Gottigere,2 BHK,NaN,1100,2.0,2.0,40.00
14,Plot Area,Ready To Move,Sarjapur,3 Bedroom,Skityer,2250,3.0,2.0,148.00
15,Super built-up Area,Ready To Move,Mysore Road,2 BHK,PrntaEn,1175,2.0,2.0,73.50
16,Super built-up Area,Ready To Move,Bisuvanahalli,3 BHK,Prityel,1180,3.0,2.0,48.00
17,Super built-up Area,Ready To Move,Raja Rajeshwari Nagar,3 BHK,GrrvaGr,1540,3.0,3.0,60.00
18,Super built-up Area,Ready To Move,Ramakrishnappa Layout,3 BHK,PeBayle,2770,4.0,2.0,290.00
19,Super built-up Area,Ready To Move,Manayata Tech Park,2 BHK,NaN,1100,2.0,2.0,48.00
20,Built-up Area,Ready To Move,Kengeri,1 BHK,NaN,600,1.0,1.0,15.00
21,Super built-up Area,19-Dec,Binny Pete,3 BHK,She 2rk,1755,3.0,1.0,122.00
22,Plot Area,Ready To Move,Thanisandra,4 Bedroom,Soitya,2800,5.0,2.0,380.00
23,Super built-up Area,Ready To Move,Bellandur,3 BHK,NaN,1767,3.0,1.0,103.00
24,Super built-up Area,18-Nov,Thanisandra,1 RK,Bhe 2ko,510,1.0,0.0,25.25
25,Super built-up Area,18-May,Mangammanapalya,3 BHK,NaN,1250,3.0,2.0,56.00
26,Super built-up Area,Ready To Move,Electronic City,2 BHK,Itelaa,660,1.0,1.0,23.10
27,Built-up Area,20-Dec,Whitefield,3 BHK,NaN,1610,3.0,2.0,81.00
28,Super built-up Area,17-Oct,Ramagondanahalli,2 BHK,ViistLa,1151,2.0,2.0,48.77
29,Super built-up Area,Ready To Move,Electronic City,3 BHK,KBityo,1025,2.0,1.0,47.00
30,Super built-up Area,19-Dec,Yelahanka,4 BHK,LedorSa,2100 - 2850,4.0,0.0,186.00
31,Super built-up Area,Ready To Move,Bisuvanahalli,3 BHK,Prityel,1075,2.0,1.0,35.00
32,Super built-up Area,Ready To Move,Hebbal,3 BHK,Mahosya,1760,2.0,2.0,123.00
33,Super built-up Area,Ready To Move,Raja Rajeshwari Nagar,3 BHK,GrrvaGr,1693,3.0,3.0,57.39
34,Built-up Area,Ready To Move,Kasturi Nagar,3 BHK,Kantsce,1925,3.0,NaN,125.00
35,Super built-up Area,21-Dec,Kanakpura Road,2 BHK,PrarePa,700,2.0,1.0,36.00
36,Super built-up Area,Ready To Move,Electronics City Phase 1,2 BHK,NaN,1070,2.0,1.0,45.50
37,Super built-up Area,Ready To Move,Kundalahalli,3 BHK,Dieldli,1724,3.0,2.0,125.00
38,Super built-up Area,Ready To Move,Chikkalasandra,3 BHK,NaN,1290,2.0,2.0,56.12
39,Built-up Area,Ready To Move,Uttarahalli,2 BHK,NaN,1143,2.0,2.0,45.00
40,Built-up Area,Ready To Move,Murugeshpalya,2 BHK,Gentson,1296,2.0,NaN,81.00
41,Super built-up Area,19-Dec,Sarjapur Road,3 BHK,Soini T,1254,3.0,2.0,38.00
42,Super built-up Area,Ready To Move,Ganga Nagar,1 BHK,Ceove G,600,1.0,0.0,38.00
43,Plot Area,Ready To Move,Yelahanka,1 Bedroom,NaN,660,1.0,0.0,48.00
44,Super built-up Area,19-Sep,Kanakpura Road,2 BHK,Soazak,1330.74,2.0,2.0,91.79
45,Plot Area,Ready To Move,HSR Layout,8 Bedroom,NaN,600,9.0,NaN,200.00
46,Super built-up Area,Ready To Move,Doddathoguru,2 BHK,LancyRe,970,2.0,0.0,33.00
47,Super built-up Area,20-Sep,Whitefield,2 BHK,Goted U,1459,2.0,1.0,94.82
48,Plot Area,Ready To Move,KR Puram,2 Bedroom,NaN,800,1.0,1.0,130.00
49,Built-up Area,Ready To Move,Himagiri Meadows,2 BHK,NaN,869,2.0,1.0,36.00

In [80]:
bgr.shape

(13320, 9)

In [81]:
bgr=bgr.drop(["society"],axis=1)
bgr.head()

,area_type,availability,location,size,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,1200,2.0,1.0,51.00

In [82]:
#Data Cleaning Process
# 1 checking the nulls

In [83]:
bgr.isnull().sum()[bgr.isnull().sum()>0]

area_type        46
availability     46
location         47
size             62
total_sqft       46
bath            119
balcony         651
price            46
dtype: int64

In [84]:
#applying median to the balcony and bath column

In [85]:
bgr["balcony"].median()

2.0

In [86]:
bgr["bath"].fillna(bgr["bath"].median(),inplace=True)
bgr["balcony"].fillna(bgr["balcony"].median(),inplace=True)

In [87]:
bgr.isnull().sum()[bgr.isnull().sum()>0]

area_type       46
availability    46
location        47
size            62
total_sqft      46
price           46
dtype: int64

In [88]:
# Dropping the rows with null values because the dataset is huge as compared to null values.
bgr = bgr.dropna()
bgr.isnull().sum()[bgr.isnull().sum()>0]

Series([], dtype: int64)

In [89]:
bgr.shape

(13257, 8)

In [90]:
def convert_sqft_to_num(x):
    if isinstance(x, str):  # Check if x is a string
        tokens = x.split('-')
        if len(tokens) == 2:
            return (float(tokens[0]) + float(tokens[1])) / 2
        try:
            return float(x)
        except ValueError:  # Handle the case where x cannot be converted to float
            return None
    elif isinstance(x, float):
        return x  # If x is already a float, return it
    else:
        return None  # Handle other types of input (e.g., integers, None)


bgr['new_total_sqft'] = bgr.total_sqft.apply(convert_sqft_to_num)
bgr = bgr.drop('total_sqft', axis='columns')
bgr.head()

,area_type,availability,location,size,bath,balcony,price,new_total_sqft
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,2.0,1.0,39.07,1056.0
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,5.0,3.0,120.00,2600.0
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,2.0,3.0,62.00,1440.0
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,3.0,1.0,95.00,1521.0
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,2.0,1.0,51.00,1200.0

In [91]:
# Adding a new column of price_per_sqft
bgr1 = bgr.copy()

# In our dataset the price column is in Lakhs
bgr1['price_per_sqft'] = (bgr1['price']*100000)/bgr1['new_total_sqft']
bgr1.head()

,area_type,availability,location,size,bath,balcony,price,new_total_sqft,price_per_sqft
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,2.0,1.0,39.07,1056.0,3699.810606
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,5.0,3.0,120.00,2600.0,4615.384615
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,2.0,3.0,62.00,1440.0,4305.555556
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,3.0,1.0,95.00,1521.0,6245.890861
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,2.0,1.0,51.00,1200.0,4250.000000

In [92]:
#checking non numeric column and converting them into numeric

In [93]:
bgr1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13257 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   area_type       13257 non-null  object
 1   availability    13257 non-null  object
 2   location        13257 non-null  object
 3   size            13257 non-null  object
 4   bath            13257 non-null  float64
 5   balcony         13257 non-null  float64
 6   price           13257 non-null  float64
 7   new_total_sqft  13257 non-null  float64
 8   price_per_sqft  13257 non-null  float64
dtypes: float64(5), object(4)
memory usage: 1.0+ MB

In [94]:
location1=bgr1.value_counts("location")

In [95]:
# Checking locations with less than 10 values
print(len(location1[location1<=10]), len(bgr1.location.unique()))

1058 1298

In [96]:
# Labelling the locations with less than or equal to 10 occurences to 'other'
locations_less_than_10 = location1[location1<=10]

bgr1.location = bgr1.location.apply(lambda x: 'other' if x in locations_less_than_10 else x)
len(bgr1.location.unique())

241

In [97]:
bgr1.location.unique()

array(['Electronic City Phase II', 'Chikka Tirupathi', 'Uttarahalli',
       'Lingadheeranahalli', 'Kothanur', 'Whitefield', 'Old Airport Road',
       'Rajaji Nagar', 'Marathahalli', 'other', '7th Phase JP Nagar',
       'Gottigere', 'Sarjapur', 'Mysore Road', 'Bisuvanahalli',
       'Raja Rajeshwari Nagar', 'Kengeri', 'Binny Pete', 'Thanisandra',
       'Bellandur', 'Electronic City', 'Ramagondanahalli', 'Yelahanka',
       'Hebbal', 'Kasturi Nagar', 'Kanakpura Road',
       'Electronics City Phase 1', 'Kundalahalli', 'Chikkalasandra',
       'Murugeshpalya', 'Sarjapur  Road', 'HSR Layout', 'Doddathoguru',
       'KR Puram', 'Bhoganhalli', 'Lakshminarayana Pura', 'Begur Road',
       'Devanahalli', 'Varthur', 'Bommanahalli', 'Gunjur', 'Hegde Nagar',
       'Haralur Road', 'Hennur Road', 'Kothannur', 'Kalena Agrahara',
       'Kaval Byrasandra', 'ISRO Layout', 'Garudachar Palya', 'EPIP Zone',
       'Dasanapura', 'Kasavanhalli', 'Sanjay nagar', 'Domlur',
       'Sarjapura - Attibele Road', 'Yeshwanthpur', 'Chandapura',
       'Nagarbhavi', 'Ramamurthy Nagar', 'Malleshwaram', 'Akshaya Nagar',
       'Shampura', 'Kadugodi', 'LB Shastri Nagar', 'Hormavu',
       'Vishwapriya Layout', 'Kudlu Gate', '8th Phase JP Nagar',
       'Bommasandra Industrial Area', 'Anandapura',
       'Vishveshwarya Layout', 'Kengeri Satellite Town', 'Kannamangala',
       ' Devarachikkanahalli', 'Hulimavu', 'Mahalakshmi Layout',
       'Hosa Road', 'Attibele', 'CV Raman Nagar', 'Kumaraswami Layout',
       'Nagavara', 'Hebbal Kempapura', 'Vijayanagar',
       'Pattandur Agrahara', 'Nagasandra', 'Kogilu', 'Panathur',
       'Padmanabhanagar', '1st Block Jayanagar', 'Kammasandra',
       'Dasarahalli', 'Magadi Road', 'Koramangala', 'Dommasandra',
       'Budigere', 'Kalyan nagar', 'OMBR Layout', 'Horamavu Agara',
       'Ambedkar Nagar', 'Talaghattapura', 'Balagere', 'Jigani',
       'Gollarapalya Hosahalli', 'Old Madras Road', 'Kaggadasapura',
       '9th Phase JP Nagar', 'Jakkur', 'TC Palaya', 'Giri Nagar',
       'Singasandra', 'AECS Layout', 'Mallasandra', 'Begur', 'JP Nagar',
       'Malleshpalya', 'Munnekollal', 'Kaggalipura', '6th Phase JP Nagar',
       'Ulsoor', 'Thigalarapalya', 'Somasundara Palya',
       'Basaveshwara Nagar', 'Bommasandra', 'Ardendale', 'Harlur',
       'Kodihalli', 'Narayanapura', 'Bannerghatta Road', 'Hennur',
       '5th Phase JP Nagar', 'Kodigehaali', 'Billekahalli', 'Jalahalli',
       'Mahadevpura', 'Anekal', 'Sompura', 'Dodda Nekkundi', 'Hosur Road',
       'Battarahalli', 'Sultan Palaya', 'Ambalipura', 'Hoodi',
       'Brookefield', 'Yelenahalli', 'Vittasandra',
       '2nd Stage Nagarbhavi', 'Vidyaranyapura', 'Amruthahalli',
       'Kodigehalli', 'Subramanyapura', 'Basavangudi', 'Kenchenahalli',
       'Banjara Layout', 'Kereguddadahalli', 'Kambipura',
       'Banashankari Stage III', 'Sector 7 HSR Layout', 'Rajiv Nagar',
       'Arekere', 'Mico Layout', 'Kammanahalli', 'Banashankari',
       'Chikkabanavar', 'HRBR Layout', 'Nehru Nagar', 'Kanakapura',
       'Konanakunte', 'Margondanahalli', 'R.T. Nagar', 'Tumkur Road',
       'Vasanthapura', 'GM Palaya', 'Jalahalli East', 'Hosakerehalli',
       'Indira Nagar', 'Kodichikkanahalli', 'Varthur Road', 'Anjanapura',
       'Abbigere', 'Tindlu', 'Gubbalala', 'Parappana Agrahara',
       'Cunningham Road', 'Kudlu', 'Banashankari Stage VI', 'Cox Town',
       'Kathriguppe', 'HBR Layout', 'Yelahanka New Town',
       'Sahakara Nagar', 'Rachenahalli', 'Yelachenahalli',
       'Green Glen Layout', 'Thubarahalli', 'Horamavu Banaswadi',
       '1st Phase JP Nagar', 'NGR Layout', 'Seegehalli', 'BEML Layout',
       'NRI Layout', 'ITPL', 'Babusapalaya', 'Iblur Village',
       'Ananth Nagar', 'Channasandra', 'Choodasandra', 'Kaikondrahalli',
       'Neeladri Nagar', 'Frazer Town', 'Cooke Town', 'Doddakallasandra',
       'Chamrajpet', 'Rayasandra', '5th Block Hbr Layout', 'Pai Layout',
       'Banashankari Stage V', 'Sonnenahalli', 'Benson Town',
       '2nd Phase Judicial Layout', 'Poorna Pragna Layout',
       'Judicial Layout', 'Banashankari Stage II', 'Karuna Nagar',
       'Bannerghatta', 'Marsur', 'Bommenahalli', 'Laggere',
       'Prithvi Layout', 'Banaswadi', 'Sector 2 HSR Layout',
       'Shivaji Nagar', 'Badavala Nagar', 'Nagavarapalya', 'BTM Layout',
       'BTM 2nd Stage', 'Hoskote', 'Doddaballapur', 'Sarakki Nagar',
       'Bharathi Nagar', 'HAL 2nd Stage', 'Kadubeesanahalli'],
      dtype=object)

In [98]:
# Checking the unique values in 'availability column'
availability1=bgr1.value_counts("availability")
availability1

availability
Ready To Move    10541
18-Dec             306
18-May             294
18-Apr             271
18-Aug             199
                 ...
16-Oct               1
16-Nov               1
16-Jul               1
16-Jan               1
14-Jul               1
Length: 80, dtype: int64

In [99]:
# Labelling the dates into Not Ready

dates_not_ready = availability1[availability1<10000]
bgr1.availability = bgr1.availability.apply(lambda x: 'Not Ready' if x in dates_not_ready else x)

len(bgr1.availability.unique())

2

In [100]:
bgr1.head()

,area_type,availability,location,size,bath,balcony,price,new_total_sqft,price_per_sqft
0,Super built-up Area,Not Ready,Electronic City Phase II,2 BHK,2.0,1.0,39.07,1056.0,3699.810606
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,5.0,3.0,120.00,2600.0,4615.384615
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,2.0,3.0,62.00,1440.0,4305.555556
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,3.0,1.0,95.00,1521.0,6245.890861
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,2.0,1.0,51.00,1200.0,4250.000000

In [101]:
# Checking the unique values in 'area_type' column
bgr1.value_counts("availability")

# Since the column has only few unique values, we don't perform any operation

availability
Ready To Move    10541
Not Ready         2716
dtype: int64

In [102]:
bgr1["size"].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [103]:
from sklearn.preprocessing import LabelEncoder #required import
le= LabelEncoder()

In [104]:
dummy_cols = pd.get_dummies(bgr1.location)
bgr1 = pd.concat([bgr1,dummy_cols], axis='columns')

In [105]:
#bgr1.location = le.fit_transform(bgr1.location)
bgr1.availability.replace({'Not Ready':0, 'Ready To Move':1},inplace=True)
bgr1.area_type.replace({'Super built-up  Area':3, 'Plot  Area':4, 'Built-up  Area':2,
       'Carpet  Area':1, 'other':0},inplace=True)
bgr1["size"].replace({'2 BHK':2, '4 Bedroom':3, '3 BHK':4, '4 BHK':5, '6 Bedroom':7, '3 Bedroom':4,
       '1 BHK':1, '1 RK':0, '1 Bedroom':1, '8 Bedroom':9, '2 Bedroom':3,
       '7 Bedroom':8, '5 BHK':6, '7 BHK':8, '6 BHK':7, '5 Bedroom':6, '11 BHK':12,
       '9 BHK':10, '9 Bedroom':10, '27 BHK':19, '10 Bedroom':11, '11 Bedroom':12,
       '10 BHK':11, '19 BHK':18, '16 BHK':16, '43 Bedroom':20, '14 BHK':15, '8 BHK':9,
       '12 Bedroom':13, '13 BHK':14, '18 Bedroom':17},inplace=True)

In [106]:
bgr1=bgr1.drop(["location"],axis=1)

In [107]:
bgr1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13257 entries, 0 to 13319
Columns: 249 entries, area_type to other
dtypes: float64(5), int64(3), uint8(241)
memory usage: 4.0 MB

In [108]:
bgr1.head()

,area_type,availability,size,bath,balcony,price,new_total_sqft,price_per_sqft,Devarachikkanahalli,1st Block Jayanagar,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,other
0,3,0,2,2.0,1.0,39.07,1056.0,3699.810606,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4,1,3,5.0,3.0,120.00,2600.0,4615.384615,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,1,4,2.0,3.0,62.00,1440.0,4305.555556,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,1,4,3.0,1.0,95.00,1521.0,6245.890861,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3,1,2,2.0,1.0,51.00,1200.0,4250.000000,0,0,...,0,0,0,0,0,0,0,0,0,0

In [109]:
bgr1.shape

(13257, 249)

In [110]:
bgr1=bgr1.drop(["price_per_sqft"],axis=1)

In [111]:
bgr1['Prices'] = bgr1["price"]
bgr1=bgr1.drop(["price"],axis=1)

In [112]:
bgr1.head()

,area_type,availability,size,bath,balcony,new_total_sqft,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,...,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,other,Prices
0,3,0,2,2.0,1.0,1056.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,39.07
1,4,1,3,5.0,3.0,2600.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,120.00
2,2,1,4,2.0,3.0,1440.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,62.00
3,3,1,4,3.0,1.0,1521.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,95.00
4,3,1,2,2.0,1.0,1200.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,51.00

In [113]:
bgr1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13257 entries, 0 to 13319
Columns: 248 entries, area_type to Prices
dtypes: float64(4), int64(3), uint8(241)
memory usage: 3.9 MB

In [114]:
bgr1.shape

(13257, 248)

In [143]:
bgr1=df1

In [144]:
from sklearn.model_selection import train_test_split

In [145]:
train_bgr1,test_bgr1=train_test_split(bgr1,test_size=.25)

In [146]:
bgr1_train_x=train_bgr1.iloc[:,0:-1]
bgr1_train_y=train_bgr1.iloc[:,-1]

bgr1_test_x=test_bgr1.iloc[:,0:-1]
bgr1_test_y=test_bgr1.iloc[:,-1]

In [147]:
from sklearn.linear_model import LinearRegression 
linreg=LinearRegression()

In [148]:
linreg.fit(bgr1_train_x,bgr1_train_y)

LinearRegression()

In [149]:
Rsquare1=linreg.score(bgr1_train_x,bgr1_train_y)
Rsquare1

0.5497733155108628

In [150]:
N=bgr1_train_x.shape[0]
K=bgr1_train_x.shape[1]

Adjusted_Rsquare1=1-(1-Rsquare1)*(N-1)/(N-K-1)
Adjusted_Rsquare1

0.5368753810329208

In [123]:
def remove_outliers (df,col,k):
    mean= df[col].mean()
    global df1
    sd= df[col].std()
    final_list= [x for x in df[col] if (x > mean - k * sd)]
    final_list= [x for x in final_list if (x < mean + k * sd)]
    df1= df.loc[df[col].isin(final_list)]; print(df1.shape)
    print('Number of outliers removed ==>', df.shape[0]- df1.shape[0])

In [142]:
remove_outliers (bgr1,'Prices',1.8)

(11827, 248)
Number of outliers removed ==> 905

In [151]:
pred_test1=linreg.predict(bgr1_train_x)
err_test1=bgr1_train_y-pred_test1

In [152]:
mse_train1=np.mean(np.square(err_test1))
mse_train1

744.0121226264647

In [153]:
mape_train1=np.mean(np.abs(err_test1*100/bgr1_train_y))
mape_train1

27.49003039864629

In [154]:
Accuracy1=100-mape_train1
Accuracy1

72.5099696013537

In [155]:
#test

In [156]:
pred_test2=linreg.predict(bgr1_test_x)
err_test2=bgr1_test_y-pred_test2

In [157]:
mse_test2=np.mean(np.square(err_test2))
mse_test2

982.3772223927613

In [158]:
mape_test2=np.mean(np.abs(err_test2*100/bgr1_test_y))
mape_test2

28.056192789221324

In [159]:
Accuracy2=100-mape_test2
Accuracy2

71.94380721077867