In [115]:
import numpy as np
import pandas as pd

In [116]:
bg=pd.read_csv(r"C:\Users\Dell\OneDrive\Documents\data science\datasets\Bengaluru_House_Data.csv")

In [117]:
bg.head(50)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2.0,1.0,38.00
6,Super built-up Area,18-May,Old Airport Road,4 BHK,Jaades,2732,4.0,NaN,204.00
7,Super built-up Area,Ready To Move,Rajaji Nagar,4 BHK,Brway G,3300,4.0,NaN,600.00
8,Super built-up Area,Ready To Move,Marathahalli,3 BHK,NaN,1310,3.0,1.0,63.25
9,Plot Area,Ready To Move,Gandhi Bazar,6 Bedroom,NaN,1020,6.0,NaN,370.00
10,Super built-up Area,18-Feb,Whitefield,3 BHK,NaN,1800,2.0,2.0,70.00
11,Plot Area,Ready To Move,Whitefield,4 Bedroom,Prrry M,2785,5.0,3.0,295.00
12,Super built-up Area,Ready To Move,7th Phase JP Nagar,2 BHK,Shncyes,1000,2.0,1.0,38.00
13,Built-up Area,Ready To Move,Gottigere,2 BHK,NaN,1100,2.0,2.0,40.00
14,Plot Area,Ready To Move,Sarjapur,3 Bedroom,Skityer,2250,3.0,2.0,148.00
15,Super built-up Area,Ready To Move,Mysore Road,2 BHK,PrntaEn,1175,2.0,2.0,73.50
16,Super built-up Area,Ready To Move,Bisuvanahalli,3 BHK,Prityel,1180,3.0,2.0,48.00
17,Super built-up Area,Ready To Move,Raja Rajeshwari Nagar,3 BHK,GrrvaGr,1540,3.0,3.0,60.00
18,Super built-up Area,Ready To Move,Ramakrishnappa Layout,3 BHK,PeBayle,2770,4.0,2.0,290.00
19,Super built-up Area,Ready To Move,Manayata Tech Park,2 BHK,NaN,1100,2.0,2.0,48.00
20,Built-up Area,Ready To Move,Kengeri,1 BHK,NaN,600,1.0,1.0,15.00
21,Super built-up Area,19-Dec,Binny Pete,3 BHK,She 2rk,1755,3.0,1.0,122.00
22,Plot Area,Ready To Move,Thanisandra,4 Bedroom,Soitya,2800,5.0,2.0,380.00
23,Super built-up Area,Ready To Move,Bellandur,3 BHK,NaN,1767,3.0,1.0,103.00
24,Super built-up Area,18-Nov,Thanisandra,1 RK,Bhe 2ko,510,1.0,0.0,25.25
25,Super built-up Area,18-May,Mangammanapalya,3 BHK,NaN,1250,3.0,2.0,56.00
26,Super built-up Area,Ready To Move,Electronic City,2 BHK,Itelaa,660,1.0,1.0,23.10
27,Built-up Area,20-Dec,Whitefield,3 BHK,NaN,1610,3.0,2.0,81.00
28,Super built-up Area,17-Oct,Ramagondanahalli,2 BHK,ViistLa,1151,2.0,2.0,48.77
29,Super built-up Area,Ready To Move,Electronic City,3 BHK,KBityo,1025,2.0,1.0,47.00
30,Super built-up Area,19-Dec,Yelahanka,4 BHK,LedorSa,2100 - 2850,4.0,0.0,186.00
31,Super built-up Area,Ready To Move,Bisuvanahalli,3 BHK,Prityel,1075,2.0,1.0,35.00
32,Super built-up Area,Ready To Move,Hebbal,3 BHK,Mahosya,1760,2.0,2.0,123.00
33,Super built-up Area,Ready To Move,Raja Rajeshwari Nagar,3 BHK,GrrvaGr,1693,3.0,3.0,57.39
34,Built-up Area,Ready To Move,Kasturi Nagar,3 BHK,Kantsce,1925,3.0,NaN,125.00
35,Super built-up Area,21-Dec,Kanakpura Road,2 BHK,PrarePa,700,2.0,1.0,36.00
36,Super built-up Area,Ready To Move,Electronics City Phase 1,2 BHK,NaN,1070,2.0,1.0,45.50
37,Super built-up Area,Ready To Move,Kundalahalli,3 BHK,Dieldli,1724,3.0,2.0,125.00
38,Super built-up Area,Ready To Move,Chikkalasandra,3 BHK,NaN,1290,2.0,2.0,56.12
39,Built-up Area,Ready To Move,Uttarahalli,2 BHK,NaN,1143,2.0,2.0,45.00
40,Built-up Area,Ready To Move,Murugeshpalya,2 BHK,Gentson,1296,2.0,NaN,81.00
41,Super built-up Area,19-Dec,Sarjapur Road,3 BHK,Soini T,1254,3.0,2.0,38.00
42,Super built-up Area,Ready To Move,Ganga Nagar,1 BHK,Ceove G,600,1.0,0.0,38.00
43,Plot Area,Ready To Move,Yelahanka,1 Bedroom,NaN,660,1.0,0.0,48.00
44,Super built-up Area,19-Sep,Kanakpura Road,2 BHK,Soazak,1330.74,2.0,2.0,91.79
45,Plot Area,Ready To Move,HSR Layout,8 Bedroom,NaN,600,9.0,NaN,200.00
46,Super built-up Area,Ready To Move,Doddathoguru,2 BHK,LancyRe,970,2.0,0.0,33.00
47,Super built-up Area,20-Sep,Whitefield,2 BHK,Goted U,1459,2.0,1.0,94.82
48,Plot Area,Ready To Move,KR Puram,2 Bedroom,NaN,800,1.0,1.0,130.00
49,Built-up Area,Ready To Move,Himagiri Meadows,2 BHK,NaN,869,2.0,1.0,36.00

In [118]:
bg.shape

(13320, 9)

In [119]:
bgr=bg[(bg.price>90)]

In [120]:
bgr=bgr.drop(["society"],axis=1)
bgr.head()

,area_type,availability,location,size,total_sqft,bath,balcony,price
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,120.0
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.0
6,Super built-up Area,18-May,Old Airport Road,4 BHK,2732,4.0,NaN,204.0
7,Super built-up Area,Ready To Move,Rajaji Nagar,4 BHK,3300,4.0,NaN,600.0
9,Plot Area,Ready To Move,Gandhi Bazar,6 Bedroom,1020,6.0,NaN,370.0

In [121]:
bgr.shape

(4764, 8)

In [122]:
#Data Cleaning Process
# 1 checking the nulls

In [123]:
bgr.isnull().sum()[bgr.isnull().sum()>0]

size         5
bath        39
balcony    461
dtype: int64

In [124]:
#applying median to the balcony and bath column

In [125]:
bgr["balcony"].median()

2.0

In [126]:
#bgr["bath"].fillna(bgr["bath"].median(),inplace=True)
bgr["balcony"].fillna(bgr["balcony"].median(),inplace=True)

In [127]:
bgr.isnull().sum()[bgr.isnull().sum()>0]

size     5
bath    39
dtype: int64

In [128]:
# Dropping the rows with null values because the dataset is huge as compared to null values.
bgr = bgr.dropna()
bgr.isnull().sum()[bgr.isnull().sum()>0]

Series([], dtype: int64)

In [129]:
bgr.shape

(4725, 8)

In [130]:
def convert_sqft_to_num(x):
    if isinstance(x, str):  # Check if x is a string
        tokens = x.split('-')
        if len(tokens) == 2:
            return (float(tokens[0]) + float(tokens[1])) / 2
        try:
            return float(x)
        except ValueError:  # Handle the case where x cannot be converted to float
            return None
    elif isinstance(x, float):
        return x  # If x is already a float, return it
    else:
        return None  # Handle other types of input (e.g., integers, None)


bgr['new_total_sqft'] = bgr.total_sqft.apply(convert_sqft_to_num)
bgr = bgr.drop('total_sqft', axis='columns')
bgr.head()

,area_type,availability,location,size,bath,balcony,price,new_total_sqft
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,5.0,3.0,120.0,2600.0
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,3.0,1.0,95.0,1521.0
6,Super built-up Area,18-May,Old Airport Road,4 BHK,4.0,2.0,204.0,2732.0
7,Super built-up Area,Ready To Move,Rajaji Nagar,4 BHK,4.0,2.0,600.0,3300.0
9,Plot Area,Ready To Move,Gandhi Bazar,6 Bedroom,6.0,2.0,370.0,1020.0

In [131]:
# Adding a new column of price_per_sqft
bgr1 = bgr.copy()

# In our dataset the price column is in Lakhs
bgr1['price_per_sqft'] = (bgr1['price']*100000)/bgr1['new_total_sqft']
bgr1.head()

,area_type,availability,location,size,bath,balcony,price,new_total_sqft,price_per_sqft
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,5.0,3.0,120.0,2600.0,4615.384615
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,3.0,1.0,95.0,1521.0,6245.890861
6,Super built-up Area,18-May,Old Airport Road,4 BHK,4.0,2.0,204.0,2732.0,7467.057101
7,Super built-up Area,Ready To Move,Rajaji Nagar,4 BHK,4.0,2.0,600.0,3300.0,18181.818182
9,Plot Area,Ready To Move,Gandhi Bazar,6 Bedroom,6.0,2.0,370.0,1020.0,36274.509804

In [132]:
#checking non numeric column and converting them into numeric

In [133]:
bgr1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4725 entries, 1 to 13318
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   area_type       4725 non-null   object
 1   availability    4725 non-null   object
 2   location        4725 non-null   object
 3   size            4725 non-null   object
 4   bath            4725 non-null   float64
 5   balcony         4725 non-null   float64
 6   price           4725 non-null   float64
 7   new_total_sqft  4725 non-null   float64
 8   price_per_sqft  4725 non-null   float64
dtypes: float64(5), object(4)
memory usage: 369.1+ KB

In [134]:
location1=bgr1.value_counts("location")

In [135]:
# Checking locations with less than 10 values
print(len(location1[location1<=10]), len(bgr1.location.unique()))

773 866

In [136]:
# Labelling the locations with less than or equal to 10 occurences to 'other'
locations_less_than_10 = location1[location1<=10]

bgr1.location = bgr1.location.apply(lambda x: 'other' if x in locations_less_than_10 else x)
len(bgr1.location.unique())

94

In [137]:
bgr1.location.unique()

array(['Chikka Tirupathi', 'Lingadheeranahalli', 'Old Airport Road',
       'Rajaji Nagar', 'other', 'Whitefield', 'Sarjapur', 'Binny Pete',
       'Thanisandra', 'Bellandur', 'Yelahanka', 'Hebbal', 'Kundalahalli',
       'Kanakpura Road', 'HSR Layout', 'KR Puram', 'Bhoganhalli',
       'Hegde Nagar', 'Hennur Road', 'EPIP Zone', 'Yeshwanthpur',
       'Kothanur', 'Nagarbhavi', 'Ramamurthy Nagar', 'Sarjapur  Road',
       'Akshaya Nagar', 'Kasavanhalli', 'Hebbal Kempapura', 'Vijayanagar',
       'Padmanabhanagar', '1st Block Jayanagar', '7th Phase JP Nagar',
       'Ambedkar Nagar', 'Talaghattapura', 'Kadugodi', 'Old Madras Road',
       'TC Palaya', 'Giri Nagar', 'JP Nagar', 'Marathahalli',
       'Haralur Road', 'Ulsoor', 'Thigalarapalya', 'Kodihalli',
       'Lakshminarayana Pura', 'Electronic City', 'Hosur Road',
       'Bannerghatta Road', 'Ardendale', 'Hoodi', 'Harlur', 'Ambalipura',
       '2nd Stage Nagarbhavi', 'Vidyaranyapura', 'Koramangala',
       'Basavangudi', 'Banashankari Stage III', 'Sector 7 HSR Layout',
       'Jakkur', 'Hosa Road', 'HRBR Layout', 'Malleshwaram',
       'Brookefield', 'Jalahalli', 'Hosakerehalli', 'Indira Nagar',
       'Hulimavu', 'Raja Rajeshwari Nagar', 'Cunningham Road',
       'Sahakara Nagar', 'Basaveshwara Nagar', 'Green Glen Layout',
       '1st Phase JP Nagar', 'Uttarahalli', 'Iblur Village',
       'Devanahalli', 'R.T. Nagar', 'Kumaraswami Layout', 'Benson Town',
       'Banashankari Stage II', 'Ramagondanahalli', 'Cooke Town',
       'Frazer Town', 'Judicial Layout', 'HBR Layout', 'Domlur',
       'Banashankari', '6th Phase JP Nagar', 'Varthur', 'BTM 2nd Stage',
       'CV Raman Nagar', 'Sarakki Nagar', '8th Phase JP Nagar',
       'HAL 2nd Stage'], dtype=object)

In [138]:
# Checking the unique values in 'availability column'
availability1=bgr1.value_counts("availability")
availability1

availability
Ready To Move    3887
18-Dec            105
18-May             77
18-Apr             70
19-Dec             62
                 ...
17-Jan              1
16-Jan              1
19-Feb              1
15-Jun              1
15-Dec              1
Length: 63, dtype: int64

In [139]:
# Labelling the dates into Not Ready

dates_not_ready = availability1[availability1<3895]
bgr1.availability = bgr1.availability.apply(lambda x: 'Not Ready' if x in dates_not_ready else x)

len(bgr1.availability.unique())

1

In [140]:
bgr1.head()

,area_type,availability,location,size,bath,balcony,price,new_total_sqft,price_per_sqft
1,Plot Area,Not Ready,Chikka Tirupathi,4 Bedroom,5.0,3.0,120.0,2600.0,4615.384615
3,Super built-up Area,Not Ready,Lingadheeranahalli,3 BHK,3.0,1.0,95.0,1521.0,6245.890861
6,Super built-up Area,Not Ready,Old Airport Road,4 BHK,4.0,2.0,204.0,2732.0,7467.057101
7,Super built-up Area,Not Ready,Rajaji Nagar,4 BHK,4.0,2.0,600.0,3300.0,18181.818182
9,Plot Area,Not Ready,other,6 Bedroom,6.0,2.0,370.0,1020.0,36274.509804

In [141]:
# Checking the unique values in 'area_type' column
bgr1.value_counts("availability")

# Since the column has only few unique values, we don't perform any operation

availability
Not Ready    4725
dtype: int64

In [142]:
bgr1["size"].unique()

array(['4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom', '2 BHK',
       '8 Bedroom', '2 Bedroom', '7 Bedroom', '5 BHK', '7 BHK', '6 BHK',
       '5 Bedroom', '11 BHK', '9 BHK', '9 Bedroom', '1 BHK', '1 Bedroom',
       '27 BHK', '11 Bedroom', '10 Bedroom', '10 BHK', '19 BHK', '16 BHK',
       '43 Bedroom', '14 BHK', '8 BHK', '12 Bedroom', '13 BHK',
       '18 Bedroom'], dtype=object)

In [143]:
from sklearn.preprocessing import LabelEncoder #required import
le= LabelEncoder()

In [144]:
dummy_cols = pd.get_dummies(bgr1.location)
bgr1 = pd.concat([bgr1,dummy_cols], axis='columns')

In [145]:
#bgr1.location = le.fit_transform(bgr1.location)
bgr1.availability.replace({'Not Ready':0},inplace=True)
bgr1.area_type.replace({'Super built-up  Area':2, 'Plot  Area':3, 'Built-up  Area':1,
       'Carpet  Area':0},inplace=True)
bgr1["size"].replace({'4 Bedroom':3, '3 BHK':2, '4 BHK':3, '6 Bedroom':5, '3 Bedroom':2, '2 BHK':1,
       '8 Bedroom':7, '2 Bedroom':1, '7 Bedroom':6, '5 BHK':4, '7 BHK':6, '6 BHK':5,
       '5 Bedroom':4, '11 BHK':10, '9 BHK':8, '9 Bedroom':8, '1 BHK':0, '1 Bedroom':0,
       '27 BHK':17, '11 Bedroom':10, '10 Bedroom':9, '10 BHK':9, '19 BHK':16, '16 BHK':14,
       '43 Bedroom':18, '14 BHK':13, '8 BHK':7, '12 Bedroom':11, '13 BHK':12,
       '18 Bedroom':15},inplace=True)

In [146]:
bgr1=bgr1.drop(["location"],axis=1)

In [147]:
bgr1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4725 entries, 1 to 13318
Columns: 102 entries, area_type to other
dtypes: float64(5), int64(3), uint8(94)
memory usage: 766.0 KB

In [148]:
bgr1.head()

,area_type,availability,size,bath,balcony,price,new_total_sqft,price_per_sqft,1st Block Jayanagar,1st Phase JP Nagar,...,Thigalarapalya,Ulsoor,Uttarahalli,Varthur,Vidyaranyapura,Vijayanagar,Whitefield,Yelahanka,Yeshwanthpur,other
1,3,0,3,5.0,3.0,120.0,2600.0,4615.384615,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2,0,2,3.0,1.0,95.0,1521.0,6245.890861,0,0,...,0,0,0,0,0,0,0,0,0,0
6,2,0,3,4.0,2.0,204.0,2732.0,7467.057101,0,0,...,0,0,0,0,0,0,0,0,0,0
7,2,0,3,4.0,2.0,600.0,3300.0,18181.818182,0,0,...,0,0,0,0,0,0,0,0,0,0
9,3,0,5,6.0,2.0,370.0,1020.0,36274.509804,0,0,...,0,0,0,0,0,0,0,0,0,1

In [149]:
bgr1.shape

(4725, 102)

In [150]:
bgr1=bgr1.drop(["price_per_sqft"],axis=1)

In [151]:
bgr1['Prices'] = bgr1["price"]
bgr1=bgr1.drop(["price"],axis=1)

In [152]:
bgr1.head()

,area_type,availability,size,bath,balcony,new_total_sqft,1st Block Jayanagar,1st Phase JP Nagar,2nd Stage Nagarbhavi,6th Phase JP Nagar,...,Ulsoor,Uttarahalli,Varthur,Vidyaranyapura,Vijayanagar,Whitefield,Yelahanka,Yeshwanthpur,other,Prices
1,3,0,3,5.0,3.0,2600.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,120.0
3,2,0,2,3.0,1.0,1521.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,95.0
6,2,0,3,4.0,2.0,2732.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,204.0
7,2,0,3,4.0,2.0,3300.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,600.0
9,3,0,5,6.0,2.0,1020.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,370.0

In [153]:
bgr1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4725 entries, 1 to 13318
Columns: 101 entries, area_type to Prices
dtypes: float64(4), int64(3), uint8(94)
memory usage: 729.1 KB

In [154]:
bgr1.shape

(4725, 101)

In [176]:
bgr1=df1

In [177]:
from sklearn.model_selection import train_test_split

In [178]:
train_bgr1,test_bgr1=train_test_split(bgr1,test_size=.25)

In [179]:
bgr1_train_x=train_bgr1.iloc[:,0:-1]
bgr1_train_y=train_bgr1.iloc[:,-1]

bgr1_test_x=test_bgr1.iloc[:,0:-1]
bgr1_test_y=test_bgr1.iloc[:,-1]

In [180]:
from sklearn.linear_model import LinearRegression 
linreg=LinearRegression()

In [181]:
linreg.fit(bgr1_train_x,bgr1_train_y)

LinearRegression()

In [182]:
Rsquare1=linreg.score(bgr1_train_x,bgr1_train_y)
Rsquare1

0.26786597086230457

In [183]:
N=bgr1_train_x.shape[0]
K=bgr1_train_x.shape[1]

Adjusted_Rsquare1=1-(1-Rsquare1)*(N-1)/(N-K-1)
Adjusted_Rsquare1

0.2448934566126122

In [172]:
def remove_outliers (df,col,k):
    mean= df[col].mean()
    global df1
    sd= df[col].std()
    final_list= [x for x in df[col] if (x > mean - k * sd)]
    final_list= [x for x in final_list if (x < mean + k * sd)]
    df1= df.loc[df[col].isin(final_list)]; print(df1.shape)
    print('Number of outliers removed ==>', df.shape[0]- df1.shape[0])

In [175]:
remove_outliers (bgr1,'Prices',1)

(4384, 101)
Number of outliers removed ==> 341

In [184]:
pred_test1=linreg.predict(bgr1_train_x)
err_test1=bgr1_train_y-pred_test1

In [185]:
mse_train1=np.mean(np.square(err_test1))
mse_train1

4397.522982140213

In [186]:
mape_train1=np.mean(np.abs(err_test1*100/bgr1_train_y))
mape_train1

29.37779310422521

In [187]:
Accuracy1=100-mape_train1
Accuracy1

70.6222068957748

In [188]:
#test

In [189]:
pred_test2=linreg.predict(bgr1_test_x)
err_test2=bgr1_test_y-pred_test2

In [190]:
mse_test2=np.mean(np.square(err_test2))
mse_test2

4689.766601229059

In [191]:
mape_test2=np.mean(np.abs(err_test2*100/bgr1_test_y))
mape_test2

29.828835909861837

In [192]:
Accuracy2=100-mape_test2
Accuracy2

70.17116409013816